.schedule-page {
  span {
    display: flex;

    button {
      padding: 0;
      margin-top: 55px;
      margin-bottom: 7px;

      color: #a3a3a3;
      font-size: 18px;
      font-weight: 700;

      &.active {
        margin-right: 50px;
        color: #333;
      }
    }
  }
}
