.bonuses-page {
  max-width: 381px;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  gap: 40px;

  h3 {
    margin-bottom: 12px;
    color: #262626;
    font-size: 18px;
    font-weight: 600;
  }

  &__affiliate {
    max-width: 381px;
    a {
      display: flex;
      gap: 23px;
    }

    padding: 10px 26px;
    border-radius: 20px;
    border: 1px solid #262626;
    background:
      linear-gradient(
        0deg,
        rgba(38, 38, 38, 0.5) 0%,
        rgba(38, 38, 38, 0.5) 100%
      ),
      #262626;

    img {
      width: 70px;
      height: 70px;

      color: #fff;
    }

    h4 {
      margin-top: 7px;
      color: #ffffff;
      font-size: 15px;
      font-weight: 600;
    }

    p {
      margin-top: 7px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__form {
    form {
      display: flex;
      gap: 8px;
    }

    input {
      width: 100%;
      border-radius: 12px;
      border: 1px solid #262626;
      background: rgba(255, 255, 255, 0);
      padding: 16.5px 17px 14px;
      color: #a3a3a3;
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 1.7px;
      text-transform: uppercase;
    }

    button {
      padding: 13px 13px 9px;
      border-radius: 12px;
      border: 1px solid #262626;
      background: rgba(255, 255, 255, 0);

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__promocodes {
    display: flex;
    flex-direction: column;
    gap: 17px;

    &--item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px 17px 25px;
      border-radius: 20px;
      border: 1px solid #ededed;
      background: #fff;

      h4 {
        color: #262626;
        font-size: 18px;
        font-weight: 700;
      }

      div {
        display: flex;
        justify-content: space-between;

        p:first-child {
          color: #474747;
          font-size: 14px;
          font-weight: 500;
        }

        p:last-child {
          color: #474747;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
