@use './components/header';
@use './components/footer';
@use './components/navigation';
@use './components/bottom-sheet';
@use './layout/base';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f6f4;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}
