.sheduled-date {
  margin-top: 23px;
  color: #262626;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.specialist-card {
  border-radius: 20px;
  background: #fff;
  margin-top: 7px;
  padding: 21px;

  font-style: normal;
  font-weight: 500;

  span {
    display: flex;
  }
  .avatar {
    border-radius: 35px;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 13px;
    &.cancelled {
      filter: grayscale(100%);
    }
  }
  .name {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    &.cancelled {
      color: #7a7a7a;
    }
  }
  .description {
    color: #5c5b5b;
    font-size: 13px;
    line-height: 20px;
    &.cancelled {
      color: #7a7a7a;
    }
  }
  .context-menu {
    margin-left: auto;
    cursor: pointer;

    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;

    &:hover {
      color: rgba(38, 38, 38, 0.7);
    }
  }
  .session-status {
    margin-left: auto;
    color: #7fbd38;
    font-size: 13px;

    &.cancelled {
      color: #7a7a7a;
    }
  }
  .scheduled-time {
    color: #262626;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
    &.cancelled {
      color: #7a7a7a;
    }
  }
  .status {
    color: #7fbd38;
    text-align: center;
    font-size: 13px;
  }
  button {
    margin-top: 7px;
  }
}
