.registration-transfer {
  margin: 0 auto;
  width: 100%;

  .header {
    background: #f4f6f4;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;

    h3 {
      color: #262626;
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__content {
    padding: 0 18px;
    width: 413px;
    margin: 0 auto;

    .seance-info {
      margin-top: 33px;
      margin-bottom: 28px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__btn-date {
        cursor: pointer;
        width: fit-content;
        display: flex;
        gap: 10px;
        padding: 10px 16px;
        border-radius: 11px;
        background: #F7F8F6;
        color: #474747;
        font-size: 18px;
        font-weight: 700;
      }

      &__title {
        color: #262626;
        font-size: 18px;
        font-weight: 600;
      }

      &__desc {
        margin-top: 7px;
        color: #5b5b5b;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
      }

      .avatar {
        width: 62px;
        height: 62px;
        border-radius: 50%;
      }
    }

    .time-title {
      margin-top: 22px;
      color: #a3a3a3;
      font-size: 14px;
      font-weight: 600;
    }

    .time-buttons {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 13px;

      &__item {
        border-radius: 13px;
        background: #f7f8f6;

        display: flex;
        width: 182px;
        height: 48px;
        padding: 14px 0;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        color: #7a7a7a;
        text-align: center;
        font-size: 16px;
        font-weight: 600;

        &--active {
          background: #262626;
          color: #fff;
        }
      }
    }
  }

  .bottom-btn {
    width: 100%;
    position: fixed;
    bottom: 22px;
    padding: 0 20px;
  }
}
